<div class="mugitya">
    <h1>第4問 主軸になるのは？</h1>

    <div class="sentakusi">
        <%= link_to "ループドライブ", perfumes_show9_path %>
        <%= link_to "スピードドライブ", perfumes_show10_path %>
    </div>
</div>