<div class="mugitya">
    <h1>第2問 理想とするプレースタイルは？</h1>

    <div class="sentakusi">
        <%= link_to "自分からしかけていく攻撃的なスタイル", perfumes_question14_path %>
        <%= link_to "ミスの少ない安定したスタイル", perfumes_question17_path %>
    </div>
</div>