<div class="mugitya">
    <h1>第4問 得意なのは？</h1>

    <div class="sentakusi">
        <%= link_to "ドライブ", perfumes_show17_path %>
        <%= link_to "ミート打ち", perfumes_show18_path %>
    </div>
</div>