<div class="mugitya">
    <h1>第3問 得意なのは？</h1>

    <div class="sentakusi">
        <%= link_to "ドライブ", perfumes_show11_path %>
        <%= link_to "ミート打ち", perfumes_show12_path %>
    </div>
</div>