<div class="mugitya">
    <h1>第5問 得意なのは？</h1>

    <div class="sentakusi">
        <%= link_to "ドライブ", perfumes_show3_path %>
        <%= link_to "スマッシュ・ミート打ち", perfumes_show4_path %>
    </div>
</div>