<h4><あなたにおすすめのラバー></h4>
<ul>

<div class="sindankekka">
  <div class="u-rontya1">
    <div class="maker1">
      <h5>STIGA</h5>
      <h5>VICTAS</h5>
    </div>
  </div>

  <div class="u-ronntya2">
    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'プラチナM.jpg', class:'originalextra' %></p>
        <p>DNA プラチナM</p>
      </div>
    </div>

    <div class="rubberimage1">
      <div class="u-rontya">
        <p><%= image_tag 'V22.jpg', class:'originalextra' %></p>
        <p>V>22 Double Extra</p>
      </div>
    </div>
  </div>
  </ul>

  <%= link_to "トップに戻る", pens_path %>
</div>
