.syosai1{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.syosai{
    justify-content: center;
    text-align: center;
    display: flex;
}

.rubberimage{
    border-top: solid #00acee;
    margin: 10px;
    padding-top: 20px;
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.sindankekka{
    justify-content: center;
    text-align: center;
    margin:20px;
    font-size: 20px;
}

.originalextra{
    width: 240px;
    height: 240px;
}

h4{
    text-align: center;
}

h5{
    font-size: 25px;
}

p{
    text-align: center;
}

.u-rontya{
    flex-flow: column; 
    margin: 10px;
    font-weight: bold;
}

.sindanbunsyou{
    font-size: 20px;
}

.maker{
    background-color: #ee8f00;
    margin-left: 10px;
    margin-right: 0px;
    color: aliceblue;
}

.maker1{
    background-color: #ee8f00;
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rubberimage1{
    border-top: solid #00acee;
    margin: 10px;
    padding-top: 20px;
    width:50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.u-ronntya1{
    display: flex;
    flex-direction: row;
}

.u-ronntya2{
    display:flex;
    justify-content: space-around;
}
